<a href="https://colab.research.google.com/github/obeabi/Automobile_Data_Set/blob/main/Auto_FE_FS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Written by Abiola Obembe
## Date: 2020-11-21
### Project Name : Automobile Dataest

#### Project Objective: Predict Car Price from 25 given attributes
##### Project Type : Regression

## Step 1: Data Uploading and Cleaning: Data Preprocessing

In [1]:
# import libraries
!pip install category-encoders
import numpy as np
import scipy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import category_encoders as ce

%matplotlib inline

plt.rcParams['figure.figsize'] = (5.0, 4.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

print("Installtion completed successfully!")

Collecting category-encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 5.2MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.1.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.18.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category-encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category-encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category-encoders) (0.17.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Installtion completed successfully!

In [28]:
# Import dataset and peruse first 10 rows
data = pd.read_csv('Cleandata_v1.csv', engine= 'python')
data.head(5)

   Unnamed: 0  symboling  normalized-losses  ... city-mpg highway-mpg  price
0           0          3              122.0  ...       21          27  13495
1           1          3              122.0  ...       21          27  16500
2           2          1              122.0  ...       19          26  16500
3           3          2              164.0  ...       24          30  13950
4           4          2              164.0  ...       18          22  17450

[5 rows x 27 columns]

In [29]:
# Include column names

column_names = data.columns

print("The number of columns in my input column_names:" , len(column_names))
print(column_names)

The number of columns in my input column_names: 27
Index(['Unnamed: 0', 'symboling', 'normalized-losses', 'make', 'fuel-type',
       'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
       'engine-location', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
       'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [30]:
# lET US CHECK PERCENTAGE OF DATA THAT HAVE MISSING VALUES
no_rows = data.shape[0]
no_cols = data.shape[1]
no_records = np.multiply(no_rows, no_cols)
print("The number of records is: ", no_records)
print("The number of missing values is :",missing_values)
number_records = np.multiply(data.shape[0], data.shape[1])

#percentMissing = (missing_values/number_records)*100
percentMissing = (missing_values/ np.product(data.shape))*100
print("The perecentage of missing values is:", percentMissing)

The number of records is:  5427
The number of missing values is : 59
The perecentage of missing values is: 1.0871568085498435

### Handling Missing Values

## Feature Engineering

In [ ]:
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality = [cname for cname in df2.columns if
                    df2[cname].nunique() < 5 and
                    df2[cname].dtype == "object"]
low_cardinality

['fuel-type', 'aspiration', 'num-of-doors', 'drive-wheels', 'engine-location']

In [ ]:
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
high_cardinality = [cname for cname in df2.columns if
                    df2[cname].nunique() > 5 and
                    df2[cname].dtype == "object"]
high_cardinality

['make', 'engine-type', 'num-of-cylinders', 'fuel-system']

In [ ]:
# Let's check one hot encoding all category columns

df2_a = df2.copy()

df2_a = pd.get_dummies(df2_a, columns=category_cols)

print(df2_a.shape)
df2_a.head()

# A total of 75 rows this is too much

(201, 75)

   symboling  normalized-losses  ...  fuel-system_spdi  fuel-system_spfi
0          3              122.0  ...                 0                 0
1          3              122.0  ...                 0                 0
2          1              122.0  ...                 0                 0
3          2              164.0  ...                 0                 0
4          2              164.0  ...                 0                 0

[5 rows x 75 columns]

In [ ]:
# One-hot encode the make column of dataframe and concat/join to orginal dataframe

df_oh =df2.copy()

for cols in category_cols:
  encoded = pd.get_dummies(df_oh[cols], prefix= cols, drop_first= False )
  df_oh = pd.concat([df_oh, encoded], axis=1)

print(df_oh.shape)
df_oh.head()

# With the columns with high dimensionality only we have 104 columns in total (This is too much)

(201, 85)

   symboling  normalized-losses  ... fuel-system_spdi fuel-system_spfi
0          3              122.0  ...                0                0
1          3              122.0  ...                0                0
2          1              122.0  ...                0                0
3          2              164.0  ...                0                0
4          2              164.0  ...                0                0

[5 rows x 85 columns]

In [ ]:
df_oh.drop(columns =category_cols, axis = 1,  inplace = True )

df_oh.shape

(201, 75)

In [ ]:
category_cols

['make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'engine-type',
 'num-of-cylinders',
 'fuel-system']

In [ ]:
df_oh.head()

   symboling  normalized-losses  ...  fuel-system_spdi  fuel-system_spfi
0          3              122.0  ...                 0                 0
1          3              122.0  ...                 0                 0
2          1              122.0  ...                 0                 0
3          2              164.0  ...                 0                 0
4          2              164.0  ...                 0                 0

[5 rows x 75 columns]

In [ ]:

df2.head(10)

    symboling  normalized-losses         make  ... city-mpg highway-mpg  price
0           3              122.0  alfa-romero  ...       21          27  13495
1           3              122.0  alfa-romero  ...       21          27  16500
2           1              122.0  alfa-romero  ...       19          26  16500
3           2              164.0         audi  ...       24          30  13950
4           2              164.0         audi  ...       18          22  17450
5           2              122.0         audi  ...       19          25  15250
6           1              158.0         audi  ...       19          25  17710
7           1              122.0         audi  ...       19          25  18920
8           1              158.0         audi  ...       17          20  23875
10          2              192.0          bmw  ...       23          29  16430

[10 rows x 26 columns]

In [ ]:
# Count Encoding of Categorical Variables
#Create the  Count encoder object
df2_ce = df2.copy()
count_enc = ce.CountEncoder()

# Apply the count encoder to dataframe
df2_ce[category_cols ] = count_enc.fit_transform(df2_ce[category_cols])
df2_ce.head(10)

    symboling  normalized-losses  make  ...  city-mpg  highway-mpg  price
0           3              122.0     3  ...        21           27  13495
1           3              122.0     3  ...        21           27  16500
2           1              122.0     3  ...        19           26  16500
3           2              164.0     6  ...        24           30  13950
4           2              164.0     6  ...        18           22  17450
5           2              122.0     6  ...        19           25  15250
6           1              158.0     6  ...        19           25  17710
7           1              122.0     6  ...        19           25  18920
8           1              158.0     6  ...        17           20  23875
10          2              192.0     8  ...        23           29  16430

[10 rows x 26 columns]

In [ ]:
df2_ce.shape
df2_ce.to_csv('CountClean.csv')

In [ ]:
#  Method 2 : lABEL Encoder
df_le = df2.copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_le[category_cols]= df_le[category_cols].apply(le.fit_transform)

df_le.to_csv('LableClean.csv')
df_le.head()

   symboling  normalized-losses  make  ...  city-mpg  highway-mpg  price
0          3              122.0     0  ...        21           27  13495
1          3              122.0     0  ...        21           27  16500
2          1              122.0     0  ...        19           26  16500
3          2              164.0     1  ...        24           30  13950
4          2              164.0     1  ...        18           22  17450

[5 rows x 26 columns]